@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

.font-figtree {
  font-family: 'Figtree', sans-serif;
}

.hero-linear-gradient {
  background: linear-gradient(rgba(17,24,39,0.8), rgba(17,24,39,0.8));  
}

.hero-bg {
    background-image: url('../images/clickfit.webp');
}